MMDET_PY_EXE=/home/omen1/miniconda3/envs/platform_mmdet/bin/python
MMDET_REPO_ROOT=/home/omen1/AI_TT_Platform/mmdet_run/mmdetection-3.0.0
MMDET_UPLOAD_ROOT=/home/omen1/AI_TT_Platform/mmdet_run/myfiles
MMDET_WORK_ROOT=/home/omen1/AI_TT_Platform/artifacts/mmdet_runs
